@font-face{
    font-family: Gilroy;
    src:url(../fonts/Gilroy-Light.otf);
    font-weight: 400;
    }
@font-face{
    font-family: GilroyBold;
    src:url(../fonts/Gilroy-ExtraBold.otf);
    font-weight: 400;
    }
@font-face{
    font-family: AmelianScript;
    src:url(../fonts/AmelianScript.otf);
    font-weight:initial;
    }

html{
    box-sizing:border-box;
    }
*,
*:before,
*:after{
    box-sizing:border-box;
    }

body{
	margin:0px;
	font: 16px Gilroy, sans-serif;
	background-color:#FFF;
	font-size:1em;
	}

/*//////Start Fonts//////*/
h1{
	font-size:3em;
	}
h2{
    
    }
h3{
    
    }
h4{
    
    }
p{
    font-family: Gilroy;
    font-size: 20px;
    color: #6E6E6E;
    letter-spacing: 0.32px;
    line-height: 26px;
    }

a{
	color:black;
	text-decoration:none;
	}

/*Start highlight colors*/
::selection {
    background-color: #F2E422; 
    color: #FFFFFF;
    }
::-moz-selection { 
    background-color: #F2E422; 
    color: #FFFFFF;
    }
/*End highlight colors*/
/*//////End Fonts//////*/


/*//////Start Nav//////*/
header{
	width:96%;
	padding:10px 2%;
	position:absolute;
	top:0;
	left:0;
	text-align:right;
	letter-spacing: 1px;
	}
.logo{
    float:left;
    margin-left: 15px;
    }
.logo a{
    color: #FFFFFF;
    }
.logo a:hover{
    color: #f2e422;
    transition: .3s all ease-in-out;
    }
header h1{
    font-family: AmelianScript;
    font-size: 50px;
    letter-spacing: 1.56px;
    font-weight: initial;
    }
nav{
    float:right;
    margin-top: 50px;
    }
nav a{
    margin-right:50px;
    font-family: GilroyBold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2.54px;
    text-transform: uppercase;
	}	
nav a:last-child{
    margin-right:0px;
	}	
nav a:hover{
    color: #f2e422;
    transition: .3s all ease-in-out;
    }
/*//////End Nav//////*/

/*//////Start Main Container//////*/
main{
	width:100%;
    display:inline-block;
	}
/*//////End Main Container//////*/


/*//////Start Grid//////*/
.row{
    width:100%;
    display: block;
    }
/*Clear the row*/
.row::after{
    content:"";
    display: table;
    clear: both;
    }
.col-12of12{
    width:98%;
    }
.col-8of12{
    width:64.66%;
    }
.col-6of12{
    width:48%;
    }
.col-4of12{
    width:31.33%;
    }
.col-3of12{
    width:23%;
    }
/*Any class that starts with col-*/
[class*='col-']{
    margin: 1%;
    padding: 1%;
    float:left;
    }
[class*='col-'] img{
    width:100%;
    }

/*//////End Grid//////*/



/*//////Start Home Page//////*/
.home1{
    background: url('../img/home1.jpg') no-repeat center;
    background-size: 100%;
    padding:15% 10%;
    text-align: center;
    }
.home1 img{
    width:40%;
    }

.home2{
    background: url('../img/yellowbgs.svg') no-repeat top center;
    background-size: 100%;
    padding:2% 10%;
    text-align: center;
    margin-top: -5%;
    }
.home2 .row{
    max-width: 800px;
    margin:0 auto;
    }
.home2 .col-4of12{
    min-height: 450px;
    }
.home2 .col-8of12{
    min-height: 450px;
    }
.home2 p{
    font-family: GilroyBold;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.94px;
    text-transform: uppercase;
    color:#FFF;
    }
.home2 .col-8of12 p{
    text-align: left;
    }
.noodles{
    background: url('../img/noodles.jpg') no-repeat center;
    background-size: cover;
    }
.brunch{
    background: url('../img/brunch.jpg') no-repeat center;
    background-size: cover;
    }
.appetizers{
    background: url('../img/appetizers.jpg') no-repeat center;
    background-size: cover;
    }
.sushi{
    background: url('../img/sushi.jpg') no-repeat center;
    background-size: cover;
    }
.dinner{
    background: url('../img/dinner.jpg') no-repeat center;
    background-size: cover;
    }

.home3{
    background: url('../img/home3.jpg') no-repeat center;
    background-size: 100%;
    padding:15% 10%;
    text-align: center;
    }
.home3 img{
    width:40%;
    }
.home4{
    margin-bottom: -1%;
    }
.home4 .row{
    display: flex;
    align-items: center;
    }
.home4 .col-6of12{
    padding:5%;
    }
.home4 .col-6of12 h2{
    font-family: GilroyBold;
    font-size: 21px;
    color: #000000;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    font-weight: 400;
    }
.home4 .col-6of12 p{
    max-width: 450px;
    }
.home4 .col-6of12 hr{
    border:0;
    border-top:5px solid black;
    width:27%;
    display: inline-block;
    }
.home4 a{
    border: 1px solid #000;
    padding: 15px 25px; 
    margin-top: 10px;
    display: inline-block;
    }
.home4 picture{
    width:100%;
    }
.home4 .row .col-6of12:first-child{
    padding-left: 0;
    margin-left: 0;
    }

.home5 .row{
    display: flex;
    justify-content: center;
    align-items: stretch;
    }
.home5 .col-8of12{
    background:#F2E422;
    color: #FFF;
    font-size: 60px;
    text-align: center;
    padding: 5%;
    }
.home5 .col-8of12{ /*get rid of margin and reset to full width grid.*/
    width:66.66%;;
    margin:0;
    min-height: 250px;
    display: flex;
    align-content: center;
    min-height: 250px;
    justify-content: center;
    flex-direction: column;
    }
.home5 .col-8of12 p{
    font-family: GilroyBold;
    font-size: 21px;
    color: #000000;
    letter-spacing: 1.23px;
    text-transform: uppercase;
    max-width: 300px;
    margin: 20px auto;
    }

.home5 .col-4of12{
    background:#E1D218;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 250px;
    }
.home5 .col-4of12{ /*get rid of margin and reset to full width grid.*/
    width:33.33%;
    margin:0;
    }
.home5 .col-4of12 p{
    font-family: GilroyBold;
    font-size: 50px;
    letter-spacing: 0.82px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    align-self: center;
    }
.home5 .col-4of12{
    margin:0;
    }
.home6 .col-4of12, .home8 .col-12of12{ /*get rid of margin and reset to full width grid.*/
    padding:0;
    margin: 0;
    }
.home6 .col-4of12{ /*get rid of margin and reset to full width grid.*/
    width:33.33%;
    margin-bottom: -1%;
    }
.home7 .col-12of12{
    padding:10%;
    text-align: center;
    }
.home7 h2{
    font-family: GilroyBold;
    font-size: 21px;
    color: #000000;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    font-weight: 400;
    }
.home7 p{
    max-width: 500px;
    margin: 20px auto 0px auto;
    }
.home7 hr{
    border:0;
    border-top:5px solid black;
    width:20%;
    display: inline-block;
    }
.home7 a{
    border: 1px solid #000;
    padding: 15px 25px; 
    margin-top: 50px;
    display: inline-block;
    }
.home4 a:hover, .home7 a:hover{
    background: #000;
    color: #FFF;
    transition: .35s all ease-in-out;
    }
.home8 .col-6of12{ /*get rid of margin and reset to full width grid.*/
    width: 50%;
    margin: 0;
    padding: 0;
    }
.home8{
    margin-bottom: -.5%;
    }
/*//////End Home Page//////*/



/*//////Start Menu Page//////*/
.menu1{
    background: url('../img/menu1.jpg') no-repeat center;
    background-size: 100%;
    padding:15% 10%;
    border-bottom: 2px solid #f2e422;
    }
.menu2, .menu4, .menu6{
    text-align: center;
    }
.menu2 h2, .menu4 h2, .menu6 h2{
    background: #f2e422;
    padding: 15px 25px;
    font-family: AmelianScript;
    font-size: 66px;
    color: #FFFFFF;
    letter-spacing: 3.56px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-top: -5%;
    font-weight: initial;
    }
.menutxt h3{
    font-family: GilroyBold;
    font-size: 18px;
    letter-spacing: 0.94px;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 400;
    }
.menutxt h3 span{
    color: #f2e422;
    }
.menutxt p{
    font-family: Gilroy;
    font-size: 16px;
    color: #6E6E6E;
    letter-spacing: 0.82px;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
    }
.menutxt{
    padding:7.5%;
    }
.menu2 .col-6of12:first-child, .menu4 .col-6of12:first-child, .menu6 .col-6of12:first-child{
    border-right: 1px solid #E8E8E8;
    }
.menu2 .row, .menu4 .row, .menu6 .row{
    max-width: 950px;
    margin: 3% auto;
    }
.menu3{
    background: url('../img/menu2.jpg') no-repeat center;
    background-size: 100%;
    padding:15% 10%;
    border-bottom: 2px solid #f2e422;
    }
.menu5{
    background: url('../img/menu3.jpg') no-repeat center;
    background-size: 100%;
    padding:15% 10%;
    border-bottom: 2px solid #f2e422;
    }
/*//////End Menu Page//////*/



/*//////Start About Page//////*/
.about1{
    background: linear-gradient(to bottom right,rgba(0,0,0,.4),rgba(0,0,0,.1)), url('../img/about1.jpg') no-repeat center;
    background-size: 100%;
    padding:15% 10%;
    text-align: center;
    }
.about1 img{
    width:40%;
    }
.about3 .col-4of12{
    width:33.33%;
    margin:0;
    padding: 0;
    }
iframe{
    margin-top: 50px;
    }

/*//////End About Page//////*/


/*//////Start Footer//////*/
footer{
    background: #000;
    text-align: center;
    font-size: 30px;
    }
footer a{
    margin-right:20px;
    color: #9C9109;
    }
footer a:last-child{
    margin-right:0px;
    }
footer a:hover{
    color: #FFF;
    transition: .35s all ease-in-out;
    }
footer p{
    font-family: GilroyBold;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    }
footer .col-12of12{
    padding: 2.5%;
    }
/*//////End Footer//////*/

/*//////Start Media Queries//////*/
/*Tablet Media Query*/
@media all and (min-width:568px) and  (max-width:800px){
    .home1{
        background: url(../img/home1-tablet.jpg) no-repeat center;
        }
    .home3{
        background: url(../img/home3-tablet.jpg) no-repeat center;
        }  
    .menu1{
        background: url(../img/menu1-tablet.jpg) no-repeat center;
        }
    .about1{
        background: url(../img/about1-tablet.jpg) no-repeat center;
        } 
    .home4 .col-6of12:first-child{
        width:38%;
        min-height:500px;
        }
    .home4 .col-6of12:nth-child(2){
        width:58%
        }
    .home5 .col-4of12 p{
        font-size:35px;
        }
    .home7 a{
        margin-top: 30px;
        }
    
}

/*Mobile Media Query*/
@media all and (min-width:0px) and  (max-width:568px){
    /*Nav*/
    .logo{
        width:100%;
        text-align: center;
        margin-left: 0px;
        }
    .logo h1{
        margin-bottom: 15px;
        }
    nav{
        float: none;
        text-align: center;
        }
    
    /*Grid*/
    .col-4of12, .home5 .col-4of12{
        width: 46%;
        }
    .col-6of12{
        width: 96%;
        } 
    .col-8of12{
        width: 96%;
        }
    
    /*Home Page*/
    .home1{
        background: url(../img/home1-mobile.jpg) no-repeat center;
        }
    .home1 img, .about1 img{
        display: none;
        }     
    .home2{
        display: inline-block;
        width: 100%;
        }
    .home2 .col-4of12{    
        min-height: 250px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    .home2 .row::after{
        display:none;
        }
    .home2 .col-8of12{
        padding: 0;
        min-height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    .home2 .col-8of12 p{
        text-align: center;
        }
    .noodles{
        background: linear-gradient(to bottom right,rgba(0,0,0,.4),rgba(0,0,0,.1)), url('../img/noodles.jpg') no-repeat center;
        background-size: cover;
        }
    .brunch{
        background: linear-gradient(to bottom right,rgba(0,0,0,.4),rgba(0,0,0,.1)), url('../img/brunch.jpg') no-repeat center;
        background-size: cover;
        }
    .appetizers{
        background: linear-gradient(to bottom right,rgba(0,0,0,.4),rgba(0,0,0,.1)), url('../img/appetizers.jpg') no-repeat center;
        background-size: cover;
        }
    .sushi{
        background: linear-gradient(to bottom right,rgba(0,0,0,.4),rgba(0,0,0,.1)), url('../img/sushi.jpg') no-repeat center;
        background-size: cover;
        }
    .dinner{
        background: linear-gradient(to bottom right,rgba(0,0,0,.4),rgba(0,0,0,.1)), url('../img/dinner.jpg') no-repeat center;
        background-size: cover;
        }
    
    .home3 img{
        width:80%;
        }
    .home4 .row{
        display: block;
        }
    .home4 .col-6of12:nth-child(2){
        padding:15%;
        padding-top:0px;
        }
    .home4 .col-6of12:first-child{
        text-align: center;
        }
    .home4 .col-6of12:first-child img{
        width:50%;
        }
    .home5 .col-8of12{
        width:100%;
        }
    .home5 .col-4of12{
        width:50%;
        height: 200px;
        min-height: 200px;
        overflow: hidden;
        }
    .home5 .col-4of12 p{
        font-size: 20px;
        }
    .home5 .row{
        display: inline;
        }
    .home5 .row::after{
        display: none;
        }
    .home6 .col-4of12{
        width: 50%;
        height:200px;
        margin-bottom: 0px;
        overflow: hidden;
        }
    .home7 a{
        margin-top: 20px;
        }
    

    /*Menu Page*/
    .menu1{
        min-height: 150px;
        }
    .menu2 h2, .menu4 h2, .menu6 h2{
        font-size: 46px;
        margin-top: 0px;
        }
    .menu2 .col-6of12:first-child, .menu4 .col-6of12:first-child, .menu6 .col-6of12:first-child{
        border-right: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top:5%;
        }
    .menu2 .col-6of12:nth-child(2), .menu4 .col-6of12:nth-child(2), .menu6 .col-6of12:nth-child(2){
        margin-top: 0px;
        padding-top: 0px;
        }
    .menu2 .col-6of12 p:nth-child(3), .menu4 .col-6of12 p:nth-child(3), .menu6 .col-6of12 p:nth-child(3){
        margin-bottom:15px;
        }
    .menutxt p:nth-child(3n){
        margin-bottom:10px;
        }
    
    /*About Page*/
    .about3 .col-4of12{
        width:80%;
        margin:0px 10% 5% 10%;
        }
    .home7 .col-12of12{
        text-align: left;
        }
    .home7 h2{
        margin-top:0;
        }
    .home8 .col-6of12{
        width: 80%;
        margin:0px 10% 5% 10%;
        }
    
    /*Footer*/
    footer .col-12of12{
        padding: 10% 2.5%;
        }
}

/*Small device Query*/
@media all and (min-width:0px) and  (max-width:500px){
    .home1{
        background: linear-gradient(to bottom right,rgba(0,0,0,.5),rgba(0,0,0,.1)), url(../img/home1-mobile.jpg) no-repeat center;
        }
    .home1, .menu1, .about1{
        min-height: 170px;
        }
    nav a {
        margin-right:30px;
        }
    .home2 .col-4of12 {
        padding:3%;
        }
}

/*//////End Media Queries//////*/