@font-face{
    font-family: Gilroy;
    src:url(../fonts/Gilroy-Light.otf);
    font-weight:normal;
    }
@font-face{
    font-family: GilroyBold;
    src:url(../fonts/Gilroy-ExtraBold.otf);
    font-weight:normal;
    }
html{
    box-sizing:border-box;
    }
*,
*:before,
*:after{
    box-sizing:border-box;
    }

body{
	margin:0px;
	font: 16px Gilroy, sans-serif;
	background-color:#FFF;
	font-size:1em;
	}

/*//////Start Fonts//////*/
h1{
	font-size:3em;
	}
h2{
    
    }
h3{
    
    }
h4{
    
    }
p{
    
    }

a{
	color:black;
	text-decoration:none;
	}

/*Start highlight colors*/
::selection {
    background-color: #F2E422; 
    color: #FFFFFF;
    }
::-moz-selection { 
    background-color: #F2E422; 
    color: #FFFFFF;
    }
/*End highlight colors*/
/*//////End Fonts//////*/


/*//////Start Nav//////*/
header{
	width:96%;
	padding:10px 2%;
	position:absolute;
	top:0;
	left:0;
	background-color:white;
	text-align:right;
	letter-spacing: 1px;
	}
.logo{
    float:left;
    }
header h1{
    font-size: 1.2em;
    }
nav{
    float:right;
    margin-top: 16px;
    }
nav a{
    margin-right:30px;
	}	
nav a:last-child{
    margin-right:0px;
	}	
/*//////End Nav//////*/

/*//////Start Main Container//////*/
main{
	width:100%;
    display:inline-block;
	margin-top:58px;
	}
/*//////End Main Container//////*/


/*//////Start Grid//////*/
.row{
    width:100%;
    display: block;
    }
/*Clear the row*/
.row::after{
    content:"";
    display: table;
    clear: both;
    }
.col-12of12{
    width:98%;
    background: purple;
}
.col-8of12{
    width:64.66%;
    background: red;
}
.col-6of12{
    width:48%;
    background: green;
}
.col-4of12{
    width:31.33%;
    background: blue;
}
.col-3of12{
    width:23%;
    background: yellow;
}
/*Any class that starts with col-*/
[class*='col-']{
    margin: 1%;
    padding: 1%;
    float:left;
    /*internet explorer hack*/
    min-height: 100px;
    }

/*//////End Grid//////*/



/*//////Start Footer//////*/
	
/*//////End Footer//////*/