@font-face{
    font-family: Gilroy;
    src:url(../fonts/Gilroy-Light.otf);
    font-weight:normal;
    }
@font-face{
    font-family: GilroyBold;
    src:url(../fonts/Gilroy-ExtraBold.otf);
    font-weight:normal;
    }
@font-face{
    font-family: AmelianScript;
    src:url(../fonts/AmelianScript.otf);
    font-weight:initial;
    }

html{
    box-sizing:border-box;
    }
*,
*:before,
*:after{
    box-sizing:border-box;
    }

body{
	margin:0px;
	font: 16px Gilroy, sans-serif;
	background-color:#FFF;
	font-size:1em;
	}

/*//////Start Fonts//////*/
h1{
	font-size:3em;
	}
h2{
    
    }
h3{
    
    }
h4{
    
    }
p{
    font-family: Gilroy;
    font-size: 20px;
    color: #6E6E6E;
    letter-spacing: 0.32px;
    line-height: 26px;
    }

a{
	color:black;
	text-decoration:none;
	}

/*Start highlight colors*/
::selection {
    background-color: #F2E422; 
    color: #FFFFFF;
    }
::-moz-selection { 
    background-color: #F2E422; 
    color: #FFFFFF;
    }
/*End highlight colors*/
/*//////End Fonts//////*/


/*//////Start Nav//////*/
header{
	width:96%;
	padding:10px 2%;
	position:absolute;
	top:0;
	left:0;
	text-align:right;
	letter-spacing: 1px;
	}
.logo{
    float:left;
    margin-left: 15px;
    }
header h1{
    font-family: AmelianScript;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 1.56px;
    font-weight: initial;
    
    }
nav{
    float:right;
    margin-top: 50px;
    }
nav a{
    margin-right:50px;
    font-family: GilroyBold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2.54px;
    text-transform: uppercase;
	}	
nav a:last-child{
    margin-right:0px;
	}	
/*//////End Nav//////*/

/*//////Start Main Container//////*/
main{
	width:100%;
    display:inline-block;
	}
/*//////End Main Container//////*/


/*//////Start Grid//////*/
.row{
    width:100%;
    display: block;
    }
/*Clear the row*/
.row::after{
    content:"";
    display: table;
    clear: both;
    }
.col-12of12{
    width:98%;
    }
.col-8of12{
    width:64.66%;
    }
.col-6of12{
    width:48%;
    }
.col-4of12{
    width:31.33%;
    }
.col-3of12{
    width:23%;
    }
/*Any class that starts with col-*/
[class*='col-']{
    margin: 1%;
    padding: 1%;
    float:left;
    }
[class*='col-'] img{
    width:100%;
    }

/*//////End Grid//////*/



/*//////Start Home Page//////*/
.home1{
    background: url('../img/home1.jpg') no-repeat center;
    background-size: 100%;
    padding:15% 10%;
    text-align: center;
    }
.home1 img{
    width:40%;
    }

.home2{
    background: url('../img/yellowbgs.svg') no-repeat top center;
    background-size: 100%;
    padding:2% 10%;
    text-align: center;
    }
.home2 .row{
    max-width: 800px;
    margin:0 auto;
    }
.home2 .col-4of12{
    min-height: 450px;
    }
.home2 .col-8of12{
    min-height: 450px;
    }
.home2 p{
    font-family: GilroyBold;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.94px;
    text-transform: uppercase;
    color:#FFF;
    }
.home2 .col-8of12 p{
    text-align: left;
    }
.noodles{
    background: url('../img/noodles.jpg') no-repeat center;
    background-size: cover;
    }
.brunch{
    background: url('../img/brunch.jpg') no-repeat center;
    background-size: cover;
    }
.appetizers{
    background: url('../img/appetizers.jpg') no-repeat center;
    background-size: cover;
    }
.sushi{
    background: url('../img/sushi.jpg') no-repeat center;
    background-size: cover;
    }
.dinner{
    background: url('../img/dinner.jpg') no-repeat center;
    background-size: cover;
    }

.home3{
    background: url('../img/home3.jpg') no-repeat center;
    background-size: 100%;
    padding:15% 10%;
    text-align: center;
    }
.home3 img{
    width:40%;
    }

.home4 .row{
    display: flex;
    align-items: center;
    }
.home4 .col-6of12{
    padding:5%;
    }
.home4 .col-6of12 h2{
    font-family: Gilroy-ExtraBold;
    font-size: 21px;
    color: #000000;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    }
.home4 .col-6of12 p{
    max-width: 450px;
    }
.home4 .col-6of12 hr{
    border:0;
    border-top:5px solid black;
    width:27%;
    display: inline-block;
    }
.home4 .row .col-6of12:first-child{
    padding-left: 0;
    margin-left: 0;
    }

.home5 .row{
    display: flex;
    justify-content: center;
    align-items: stretch;
    }
.home5 .col-8of12{
    background:#F2E422;
    color: #FFF;
    font-size: 60px;
    text-align: center;
    padding: 5%;
    }
.home5 .col-8of12{ /*get rid of margin and reste to full width grid.*/
    width:66.66%;;
    margin:0;
    }
.home5 .col-8of12 p{
    font-family: GilroyBold;
    font-size: 21px;
    color: #000000;
    letter-spacing: 1.23px;
    text-transform: uppercase;
    max-width: 300px;
    margin: 20px auto;
    }

.home5 .col-4of12{
    background:#E1D218;
    align-items: center;
    display: flex;
    justify-content: center;
    }
.home5 .col-4of12{ /*get rid of margin and reset to full width grid.*/
    width:33.33%;
    margin:0;
    }
.home5 .col-4of12 p{
    font-family: GilroyBold;
    font-size: 50px;
    letter-spacing: 0.82px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    align-self: center;
    }
/*triangle tail*/
/*
.home5 .col-4of12::after { 
    content: '';
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 50px solid #E1D218;
    top: 64%;
    left: 0px;
    margin-left: -14px;
    z-index: 99;
    }
*/
.home5 .col-4of12{
    margin:0;
    }
.home6 .col-4of12, .home7 .col-12of12{ /*get rid of margin and reset to full width grid.*/
    padding:0;
    margin: 0;
    }
.home6 .col-4of12{ /*get rid of margin and reset to full width grid.*/
    width:33.33%;
    margin-bottom: -1%;
    }
.home7 .col-12of12{ /*get rid of margin and reset to full width grid.*/
    width: 100%;
    }
/*//////End Home Page//////*/



/*//////Start Menu Page//////*/
.menu1{
    background: url('../img/menu1.jpg') no-repeat center;
    background-size: 100%;
    padding:15% 10%;
    border-bottom: 2px solid #f2e422;
    }
.menu2, .menu4, .menu6{
    text-align: center;
    }
.menu2 h2, .menu4 h2, .menu6 h2{
    background: #f2e422;
    padding: 15px 25px;
    font-family: AmelianScript;
    font-size: 66px;
    color: #FFFFFF;
    letter-spacing: 3.56px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-top: -5%;
    font-weight: initial;
    }
.menutxt h3{
    font-family: GilroyBold;
    font-size: 16px;
    letter-spacing: 0.94px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: left;
    }
.menutxt h3 span{
    color: #f2e422;
    }
.menutxt p{
    font-family: Gilroy;
    font-size: 14px;
    color: #6E6E6E;
    letter-spacing: 0.82px;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
    }
.menutxt{
    padding:7.5%;
    }
.menu2 .col-6of12:first-child, .menu4 .col-6of12:first-child, .menu6 .col-6of12:first-child{
    border-right: 1px solid #E8E8E8;
    }
.menu2 .row, .menu4 .row, .menu6 .row{
    max-width: 950px;
    margin: 3% auto;
    }
.menu3{
    background: url('../img/menu2.jpg') no-repeat center;
    background-size: 100%;
    padding:15% 10%;
    border-bottom: 2px solid #f2e422;
    }
.menu5{
    background: url('../img/menu3.jpg') no-repeat center;
    background-size: 100%;
    padding:15% 10%;
    border-bottom: 2px solid #f2e422;
    }
/*//////End Menu Page//////*/


/*//////Start Footer//////*/
/*
footer{
    background: #f2e422;
    color: #FFF;
    text-align: center;
    }
*/
/*//////End Footer//////*/